{% extends 'base.jinja' %}

{% block page_header %}
  {% block title %}Nodes{% endblock %}
{% endblock %}

{% block content %}
<ul>
  {% for name, namespace in nodes %}
    {% set href = url_for('node.info', node_name=name, namespace=namespace) %}
    <li><a href="{{ href }}">{% if namespace %}/{{ namespace }}{% endif %}/{{ name }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
