{% extends 'base.jinja' %}

{% import 'macros.jinja' as macros %}

{% block page_header %}
  {% block title %}Topic info '{{ topic_name }}'{% endblock %}
{% endblock %}

{% block content %}
<h2>Publishers (nodes)</h2>
{% helper.full_node_name('a','b')%}
{% if publishers %}
  <ul>
  {% for p in publishers %}
    <li>{{ p.node_name }}</li>
  {% endfor %}
  </ul>
{% else %}
  No publishers found.
{% endif %}

<h2>Subscriptions (nodes)</h2>
{% if subscriptions %}
  <ul>
  {% for p in subscriptions %}
    <li>{{ p.node_name }}</li>
  {% endfor %}
  </ul>
{% else %}
  No publishers found.
{% endif %}

{% endblock %}
 